node_modules
*.log
app-build
lib 
dev
.env*
.pnp
.pnp.js
.cache
.temp
dist
dist-ssr
*.local
export
dev
.turbo

# testing
coverage

# next.js
.next
out

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
/packages/**/yarn.lock
*mocks.json
private

!.env.ejs

# Development project