node_modules
*.log
app-build
lib 
dev
.env*
.pnp
.pnp.js
dist
dist-ssr
*.local
export
dev
.turbo

# testing
coverage

# next.js
.next
out

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
/packages/**/yarn.lock
*.generate-config*
*mocks.json
private

!.env.ejs

# Development project
/apps/*
!/apps/.gitkeep