ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

input {
  background-color: transparent;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.ce-toolbar {
  z-index: 1;
}

.ce-toolbar__content,
.ce-block__content {
  max-width: none !important;
}

.ce-block a {
  @apply text-blue-600;
}


.ce-inline-link-tool.ce-inline-tool-input--showed {
  padding: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}

.ce-inline-tool-container {
  border-top: 1px solid rgba(201,201,204,.48);
  padding: 5px;
  padding-left: 10px;
  width: 100%;
}

.ce-inline-tool-container label span:first-child  {
  padding-right: 10px;
  width: 50px;
  display: inline-block;
}

.ce-inline-tool-container input {
  outline: none;
  border: 0;
  border-radius: 0 0 4px 4px;
  margin: 0;
  font-size: 13px;
  margin: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
}

.ce-inline-tool-container input + span {
  padding-left: 5px;
}

.ce-inline-link-tool button {
  outline: none;
  padding: 5px 20px;
  background: transparent;
  margin: 0px 0 5px auto;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}

.ce-tune-alignment--right {
  text-align: right;
}
.ce-tune-alignment--center {
  text-align: center;
}
.ce-tune-alignment--left {
  text-align: left;
}

.ce-popover__item--disabled {
 opacity: .4;
}

.editor-js__layout__wrap {
  @apply mt-3 mb-5 flex gap-x-3 gap-y-5;
}


.editor-js__layout__item {
  @apply min-h-[200px] w-full rounded-sm px-2;
}

.editor-js__layout__item:not(.has-items) {
  border: 2px dashed #dfdfdf;

  @apply bg-white py-1;
}

.editor-js__layout__item.has-items {
  @apply hover:ring-2 hover:ring-blue-700;
}

.editor-js__layout__item .codex-editor > .codex-editor__redactor {
  margin: 0 !important;
}

dialog.editor-js--dialog--root, dialog.editor-js--dialog--root > div {
  animation-fill-mode: forwards;
}

dialog.editor-js--dialog--root {
  @apply rounded-lg;
  width: 100%;
  height: calc(100% - 80px);
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  max-height: none;
  border-radius: 0;
  overflow: visible;
  animation-duration: .6s;
  animation-name: slideFromBottom;
  max-width: none;
  max-height: none;
}

dialog.editor-js--dialog--root > div {
  padding: 20px 45px;
  animation-delay: 100ms;
  animation-duration: .8s;
  animation-name: slideFromBottom;
}

.editor-js--dialog--close-button {
  @apply absolute top-0 right-6 -translate-y-full bg-[#fff5f5] hover:bg-[#ffe3e3a6] rounded-lg -mt-4 cursor-pointer outline-none p-1.5 text-[#fa5252];
}

.codex-editor svg.icon-tabler {
  fill: none !important;
}

.codex-editor svg.icon-tabler path[stroke="none"] {
  stroke: none;
}

.ce-header {
  @apply font-bold;
}

h2.ce-header {
  @apply text-4xl;
}
h3.ce-header {
  @apply text-3xl;
}
h4.ce-header {
  @apply text-2xl;
}
h5.ce-header {
  @apply text-xl;
}

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

::-webkit-scrollbar {
  width: 17px;
  height: 17px;
}

::-webkit-scrollbar-track {
  background: "transparent";
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: "15px";
  border: 6px solid transparent;
  background-clip: content-box;
  border-radius: 10px;
}

@media screen and (min-width: 920px) {
  dialog.editor-js--dialog--root > div {
    padding: 40px 85px;
  }

  dialog.editor-js--dialog--root {
    animation-name: slideFromRight;
  }

  dialog.editor-js--dialog--root > div {
    animation-name: slideFromRight;
  }

  dialog.editor-js--dialog--root {
    width: 90%;
    height: 100%;
    top: 0;
  }

  .editor-js--dialog--close-button {
    @apply top-0 right-auto -left-2 -translate-x-full translate-y-0 mt-2;
  }
}

@keyframes slideFromRight {
  from {
    opacity: .3;
    transform: translateX(20%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slideFromBottom {
  from {
    opacity: .3;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

