ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

input {
  background-color: transparent;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

@tailwind components;
@tailwind utilities;


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.ce-toolbar__content,
.ce-block__content {
  max-width: none !important;
}

.editor-js__layout__wrap {
  @apply grid grid-cols-2 justify-around gap-x-2.5 gap-y-5 mt-3 mb-5;
}

.editor-js__layout__item {
  border: 2px solid #dfdfdf; 
  @apply rounded-lg w-full py-2 px-5 min-h-[200px] bg-white;
}

.editor-js__layout__item .codex-editor > .codex-editor__redactor {
  margin: 0!important;
}

dialog {
  @apply rounded-lg;
}

dialog > div {
  padding: 60px 150px;
  
}

.codex-editor svg.icon-tabler {
  fill: none!important;
}



.ce-header {
  @apply font-bold;
}

h2.ce-header {
  @apply text-4xl;
}
h3.ce-header {
  @apply text-3xl;
}
h4.ce-header {
  @apply text-2xl;
}
h5.ce-header {
  @apply text-xl;
}
